@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic');

html{
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

a {
    color: #86c043;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}


.header-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header-address {
    position: relative;
    padding-left: 30px;
    margin-top: 24px;
    box-sizing: border-box;
}
.header-address:after{
    content: '';
    width: 20px;
    height: 25px;
    background: url(../img/map-i.png) no-repeat center center;
    position: absolute;
    left: 0;
    top: 0;
}

.header-contact {
    margin-top: 24px;
}
.header-contact-tel{
    padding-left: 35px; 
}
.header-contact-tel a{ 
    font-weight: 300;
    text-decoration: none;
    color: #44464f; 
    font-size: 22px;
    line-height: 22px;
}
.header-contact-tel:after{
    content: '';
    width: 20px;
    height: 19px;
    background: url(../img/phone-i.png) no-repeat center center;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9.5px;
}
.header-contact-mail{
    margin-top: 17px;
    padding-left: 35px; 
}
.header-contact-mail a{
    font-size: 16px;
}
.header-contact-mail::after{
    content: '';
    width: 20px;
    height: 19px;
    background: url(../img/mail-i.png) no-repeat center center;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7.5px;
}
.header-price {
    width: 225px;
    margin-top: 24px;

}
.header-price a{
    display: block;
    width: 222px;
    height: 55px;
    line-height: 55px; 
    color: #fff;
    background: #86c043 url(../img/file-download-i.png) no-repeat 36px center;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box; 
}

.header-top{
    padding: 15px 0;
}
.header-bottom {
    border-top: 1px solid #cbcccd;
}
.header-bottom::after{
    content: '';
    clear: both;
    display:block;
}
.header-bottom-menu ul li{
    float: left;
    height: 69px;
    line-height: 69px;
    min-width: 160px;
    text-align: center;
    padding: 0 25px;
    box-sizing: border-box;
}
.header-bottom-menu ul li.active{
    background: #ffd307 url(../img/home-i.png) no-repeat 15px center;
    padding-left: 40px;
    border-bottom: 1px solid #ffd307;
    position: relative;
    top: -1px;
}
.header-bottom-menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #44464f;
}
.header-bottom-search{
    padding: 7px 0 8px;
}
.header-bottom-search form:after{
    content: '';
    display: block;
    clear: both;
}
.header-bottom-search input[type="search"]{
    height: 52px;
    width: 293px;
    background: #f1f2f4;
    border-radius: 3px 0 0 3px;
    text-shadow: none;
    padding-left:  20px;
    border: 0;
    display: block;
    float: left;
}
.header-bottom-search input[type="submit"]{
    width: 58px;
    height: 52px;
    background: #ffd307 url(../img/search-i.png) no-repeat center center;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
@media (max-width: 865px){
    .header-price{
        margin: 0 auto;
    }
}
.header-bottom-search form{
    display: flex;

}