.t1 {
    border: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    background: black;
}
.t1 caption {
    background: darkgreen;
}
.t1 td {
    border: 1px solid red;
}
.t1 th {
    width: 25%;
}
.t1 tr td:first-child{
    background: purple;
}
.t1 tr td:nth-child(2) {
    background: #444;
}
.t1 tr td.razbros {
    background: tan;
}
